html,
body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.5;
  height: 100%;
  background-color: #ecf0f3;
}

#root,
main {
  height: 100vh;
}

#root {
  display: flex;
}

main {
  width: 100%;
  overflow: auto;
}

.box--phoenix {
  border-radius: 0;
}

.container {
  // TODO: Variables?
  @media screen and (min-width: 1408px) {
    max-width: 1220px;
  }
}

.container--phoenix {
  padding: 25px 0;
  height: 100%;
}
